@inject NavigationManager navigation
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

 <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <NavLink href="/" @onclick="@(() => NavigateServices("/"))" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <h1 class="sitename"></h1> <span></span>
        </NavLink>

        <nav id="navmenu" class="navmenu">
            <ul>
            <li><NavLink Match="NavLinkMatch.All" href="" class="" @onclick="@(() => NavigateServices("/"))">TRANG CHỦ</NavLink></li>
            <li><NavLink Match="NavLinkMatch.All"  href="/about" @onclick="@(() => NavigateServices("/about"))">GIỚI THIỆU</NavLink></li>
            <li><NavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateServices("/services"))" href="services" class="">LĨNH VỰC HOẠT ĐỘNG</NavLink></li>
            <li><NavLink Match="NavLinkMatch.All" href="/projects" class="" @onclick="@(() => NavigateServices("/projects"))">DỰ ÁN</NavLink></li>
            <li><NavLink Match="NavLinkMatch.All" href="/contact" @onclick="@(() => NavigateServices("/contact"))">LIÊN HỆ</NavLink></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>

@code{
    private void NavigateServices(string href)
    {
        navigation.NavigateTo(href, true);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("mobileNavSetup");

        }
    }

}
